.media-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.media-container{
    margin-top: 120px;
}

.media-user-portal-card{
    width: 500px;
}

.media-user-portal-card-button{
    margin:  0 0 30px 0;
}