.experience-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.experience-container{
    margin-top: 120px;
}

.experience-portal-child{
    width: 420px;
}

.experience-portal-child-h2{
    color: #202124;
}

.experience-portal-child-text-top{
    display: flex;
    width: 500;
    justify-content: space-between;
}

.experience-portal-child-text-mid{
    display: flex;
    justify-content: space-between;
    width: 420px;
}

.experience-portal-child-text-mid-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0 ;
}

.experience-portal-child-text-mid-group-combo{
    display: flex;
    width: 190px;
    justify-content: space-between;
}

.experience-portal-checkbox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.experience-portal-button-add{
    width: 420px;
    margin: 0 0 50px 0 ;
}

.experience-portal-child-text-mid-group-span{
    margin: 0 0 5px 0;
    font-weight: bolder;
}

.experience-portal-child-text-mid-group-del{
    display: none;
}
