.social-media-container{
    width: 400px;
    margin-top: 50px;
}

.social-media-container-h2{
    margin: 0 0 35px 0;
    padding: 0;
}

.social-media-container-ul{
    padding: 0;
    transition: all 300ms;
}

.social-media-child-container{
    width: 196px;
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #c5c5c5;
    margin: 0 0 10px 0;
    transition: all 300ms;
}

.social-media-child-container-rm{
    padding-right: 20px;
}

.social-media-child-container-text{
    margin-left: 10px;
    width: 150px;
    border-style: none;
}