.navbar-wrap{
    height: 70px;
    width: 100%;
    background-color:#352BC7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.navbar-container{
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-logo{
    height: 50px;
}

.navbar-children{
    display: flex;
    align-items: center;
}

.navbar-children-ul{
    display: inline;
    margin: 0 10px 0 0;
}

.navbar-children-ul-li{
    display: inline-block;
    margin: 0 10px;
    color: #f5f5f5;
    font-weight: bolder;
}

.navbar-children-ul-li:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1420px){
    .navbar-container{
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (max-width: 950px){
        .navbar-children-ul-li{
            display: none;
        }
    }
}